<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buka.amanah">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuKa"
        android:usesCleartextTraffic="true">
        <activity android:name=".hutang_piutang.piutang.usaha.DetailPiutangUsaha"></activity>
        <activity android:name=".hutang_piutang.piutang.galon.DetailPiutangGalon" />
        <activity android:name=".hutang_piutang.hutang.galon.DetailHutangGalon" />
        <activity android:name=".hutang_piutang.hutang.usaha.DetailHutangUsaha" />
        <activity android:name=".stock.DetailStock" />
        <activity
            android:name=".transaksi.pengeluaran.DetailPengeluaran"
            android:configChanges="orientation"
            android:parentActivityName=".transaksi.pengeluaran.PengeluaranActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transaksi.penerimaan.DetailPenerimaan"
            android:configChanges="orientation"
            android:parentActivityName=".transaksi.penerimaan.PenerimaanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".report.ReportActivity" />
        <activity
            android:name=".users.profile.ChangePassword"
            android:configChanges="orientation"
            android:parentActivityName=".users.profile.UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".users.profile.UpdateUserProfile"
            android:configChanges="orientation"
            android:parentActivityName=".users.profile.UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".users.profile.UserProfile"
            android:configChanges="orientation"
            android:parentActivityName=".home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileTheme" />
        <activity android:name=".stock.FormStockBarang" />
        <activity android:name=".pelanggan.detail.DetailPelanggan" />
        <activity android:name=".pelanggan.FormPelanggan" />
        <activity android:name=".hutang_piutang.piutang.galon.FormPiutangGalon" />
        <activity android:name=".hutang_piutang.piutang.usaha.FormPiutangUsaha" />
        <activity android:name=".hutang_piutang.piutang.galon.PiutangGalonActivity" />
        <activity android:name=".hutang_piutang.piutang.usaha.PiutangUsahaActivity" />
        <activity android:name=".hutang_piutang.hutang.galon.FormHutangGalon" />
        <activity android:name=".hutang_piutang.hutang.galon.HutangGalonActivity" />
        <activity android:name=".hutang_piutang.hutang.usaha.FormHutangUsaha" />
        <activity android:name=".hutang_piutang.hutang.usaha.HutangUsahaActivity" />
        <activity android:name=".transaksi.pengeluaran.PengeluaranActivity" />
        <activity android:name=".transaksi.pengeluaran.FormPengeluaran" />
        <activity
            android:name=".transaksi.penerimaan.FormPenerimaan"
            android:configChanges="orientation"
            android:parentActivityName=".transaksi.penerimaan.PenerimaanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transaksi.penerimaan.PenerimaanActivity"
            android:configChanges="orientation"
            android:parentActivityName=".home.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".users.resetpass.ForgotPasswordInputOTP"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".users.resetpass.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".users.register.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".users.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".splashscreen.WelcomeActivity" />
        <activity android:name=".home.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>