<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buka.amanah">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuKa"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.hutangpiutang.piutang.usaha.BayarPiutangUsaha"></activity>
        <activity android:name=".view.hutangpiutang.piutang.galon.BayarPiutangGalon" />
        <activity android:name=".view.hutangpiutang.hutang.usaha.BayarHutangUsaha" />
        <activity android:name=".view.hutangpiutang.hutang.galon.BayarHutangGalon" />
        <activity android:name=".view.hutangpiutang.piutang.usaha.DetailPiutangUsaha" />
        <activity android:name=".view.hutangpiutang.piutang.HutangPiutangActivityOwl" />
        <activity android:name=".view.hutangpiutang.piutang.galon.DetailPiutangGalon" />
        <activity android:name=".view.hutangpiutang.hutang.galon.DetailHutangGalon" />
        <activity android:name=".view.hutangpiutang.hutang.usaha.DetailHutangUsaha" />
        <activity android:name=".view.stock.DetailStock" />
        <activity
            android:name=".view.transaksi.pengeluaran.DetailPengeluaran"
            android:configChanges="orientation"
            android:parentActivityName=".view.transaksi.pengeluaran.PengeluaranActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.transaksi.penerimaan.DetailPenerimaan"
            android:configChanges="orientation"
            android:parentActivityName=".view.transaksi.penerimaan.PenerimaanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.report.ReportActivity" />
        <activity
            android:name=".view.users.profile.ChangePassword"
            android:configChanges="orientation"
            android:parentActivityName=".view.users.profile.UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".view.users.profile.UpdateUserProfile"
            android:configChanges="orientation"
            android:parentActivityName=".view.users.profile.UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".view.users.profile.UserProfile"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileTheme" />
        <activity android:name=".view.stock.FormStockBarang" />
        <activity android:name=".view.pelanggan.DetailPelanggan" />
        <activity android:name=".view.pelanggan.FormPelanggan" />
        <activity android:name=".view.hutangpiutang.piutang.galon.FormPiutangGalon" />
        <activity android:name=".view.hutangpiutang.piutang.usaha.FormPiutangUsaha" />
        <activity android:name=".view.hutangpiutang.piutang.galon.PiutangGalonActivity" />
        <activity android:name=".view.hutangpiutang.piutang.usaha.PiutangUsahaActivity" />
        <activity android:name=".view.hutangpiutang.hutang.galon.FormHutangGalon" />
        <activity android:name=".view.hutangpiutang.hutang.galon.HutangGalonActivity" />
        <activity android:name=".view.hutangpiutang.hutang.usaha.FormHutangUsaha" />
        <activity android:name=".view.hutangpiutang.hutang.usaha.HutangUsahaActivity" />
        <activity android:name=".view.transaksi.pengeluaran.PengeluaranActivity" />
        <activity android:name=".view.transaksi.pengeluaran.PengeluaranActivityOwl" />
        <activity android:name=".view.transaksi.pengeluaran.FormPengeluaran" />
        <activity
            android:name=".view.transaksi.penerimaan.FormPenerimaan"
            android:configChanges="orientation"
            android:parentActivityName=".view.transaksi.penerimaan.PenerimaanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.transaksi.penerimaan.PenerimaanActivity"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.transaksi.penerimaan.PenerimaanActivityOwl"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.users.resetpass.ForgotPasswordInputOTP"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.users.resetpass.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.users.register.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.users.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.splashscreen.WelcomeActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>